{% load static %}

<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'favicon.png' %}" rel="icon" type="image/png">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style>
    .card-body img{
        width: 100%;
        height: 600px;
    }
    .card-footer i{
        font-size: 24px;
    }
    .likebutton{
        cursor: pointer;
    }
</style>
<body>

    {% include 'navbar.html' %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-7">
                {% for post in posts reversed %}
                <div class="card mb-3">
                    <div class="card-header">
                        <b><a class="text-dark" href="/profile/{{post.user}}">@{{post.user}}</a></span></b>
                    </div>
                    <div class="card-body p-0">
                        <a href="{{post.image.url}}">  
                            <img src="{{post.image.url}}" alt="">
                        </a>
                    </div>
                    <div class="card-footer">
                        <form action="" class="form-submit">
                            <div>
                                <a class="text-dark"><i class="fa fa-thumbs-up likebutton" aria-hidden="true"></i></a>
                                <input type="hidden" class="post-id" value="{{post.id}}">
                                <i class="far fa-comment-o ml-2" aria-hidden="true"></i>
                                <a href="{{post.image.url}}" download class="float-right text-dark"><i class="fa fa-download" aria-hidden="true"></i></a>
                            </div>
                            <p class="mb-1" id="likes-{{post.id}}">
                                {% if post.likes == 0 %}
                                No likes
                                {% elif post.likes == 1 %}
                                Liked by {{post.likes}} person
                                {% else %}
                                Liked by {{post.likes}} people
                                {% endif %}
                            </p>
                        </form>
                        {% if post.caption != "" %}
                        <p class="mb-1">
                            <a href="/profile/{{post.user}}" class="text-dark"><strong>{{post.user}}</strong></a> {{post.caption}}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-5">
                <div class="card mb-3">
                    <div class="card-header bg-light">
                        <b>Suggestions for you</b>
                    </div>
                    <div class="card-body p-0">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript">
    $('.likebutton').click(function(e){
        e.stopPropagation();
        var $form = $(this).closest(".form-submit");
        var postid =  $form.find(".post-id").val();
        console.log(postid)
        $.ajax(
        {
            type:"GET",
            url: "/likepost",
            data:{
                    post_id: postid
            },
            success: function( data ) 
            {
                if (data == 0){
                    $('#likes-'+postid).text("No Likes");
                }
                else if(data==1){
                    $('#likes-'+postid).text("Liked by " + data + " person");
                }else{
                    $('#likes-'+postid).text("Liked by "+ data + " people");
                }
            }
        })
    });
</script>
    </body>
</html>


