{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    a{
        text-decoration: none !important;
    }
    .dropdown-menu {
        left: -160%;
        top: 120%;
    }
    .modal-backdrop {
        display: none;
    }
    .modal {
        background: rgba(0, 0, 0, 0.5);
    }
    img{
        object-fit: cover;
    }
    .search-results{
        position: absolute;
        top: 50px;
        left: 208px;
        text-align: left;
        padding: 10px;
        width: 200px;
    }
</style>

<body>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">SocialBuzz</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex align-items-center">
                    <a class="nav-link" href="/">Home</a>
                    <form action="" method="GET" class="mx-4">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control form-submit search-input q" id="search-input" name="q" placeholder="Search Users..." autocomplete="off">
                            <input type="hidden" class="current-user" value="{{curr_user_profile.user.username}}" placeholder="Search Users...">
                            <div class="input-group-append">
                                <button class="btn btn-secondary rounded-0 rounded-right" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    <ul class="px-2 py-1 search-results">
                        
                    </ul>
                </div>
                <div class="navbar-nav ml-auto d-flex align-items-center">
                    <button data-toggle="modal" data-target="#uploadModal"
                        class="rounded-0 btn btn-outline-dark px-2 d-flex align-items-center"><i
                            class="fa fa-plus-circle h5 my-0" aria-hidden="true"></i><span>&nbsp;Upload</span></button>
                    <div class="modal fade" id="uploadModal" role="dialog"
                        aria-labelledby="uploadModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="uploadModalLabel">Upload New Post</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <form action="/upload" id="search_form" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <div class="modal-body">
                                        <div class="form-file custom-file mb-3">
                                            <input class="form-control" required type="file" name="image_upload" id="image">
                                        </div>
                                        <textarea class="form-control" name="caption" cols="30" rows="2" placeholder="Caption"></textarea>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary">Upload</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <li class="dropdown">
                        <a href="#" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                            <img src="{{curr_user_profile.profileimg.url}}" class="rounded-circle mx-3" width="35"
                                height="35" alt="">
                        </a>
                        <div class="dropdown-menu text-light" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/settings">Account Settings</a>
                            <a class="dropdown-item" href="/profile/{{curr_user_profile.user.username}}">View Profile</a>
                            <a class="dropdown-item" href="/logout">Logout</a>
                        </div>
                    </li>
                </div>
            </div>
        </div>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script>
        window.addEventListener('click', function(e){   
            if (document.getElementById('search-input').contains(e.target)){
                document.getElementsByClassName('search-results')[0].style.display = "block"
            } else{
                document.getElementsByClassName('search-results')[0].style.display = "none"
            }
        });
        $(document).on('keyup', '.search-input', function(e) {
            e.stopPropagation();
            // var $form = $(this).closest(".form-submit");
            var text = $('.search-input').val()
            var current_user = $('.current-user').val()
            $.ajax(
            {
                type:"GET",
                url: "/search",
                data:{
                       text : text
                },
                success: function( data ) 
                {
                    users = []
                    for(let user of data.data.user_filter){
                        if(user.username == "admin" || user.username===current_user){
                            continue;
                        }
                        users.push(user.username)
                    }
                    
                    if(users.length>0){
                        $('.search-results').empty()
                        $('.search-results').css("background-color", "white");
                        for(let user of users){
                            $('.search-results').append("<a class='text-dark' href='/profile/" + user + "'><li>@"+ user +"</li></a>")
                        }
                    }else{
                        $('.search-results').empty()
                        $('.search-results').css("background-color", "white");
                        $('.search-results').append("<li>No user found</li>")
                    }
                }
            })
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>