{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In - Social Buzz</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
{% include 'navbar.html' %}
<div class="container d-flex justify-content-center align-items-center my-3">
    <div class="row d-flex justify-content-center align-items-center">
        <div class="col-md-5">
            <div class="card shadow">
                <div class="card-body">
                    <h3 class="text-center">Sign In</h3>
                    <form action="" method="POST" class="validated-form" novalidate>
                        {% csrf_token %}
                        <div class="mb-3">
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required
                                autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required
                                autofocus>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="text-center">
                            {% for message in messages %}
                            <h6 class="text-danger">{{message}}</h6>
                            {% endfor %}
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success">Sign Up</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="../static/js/validateForms.js"></script>
</body>

</html>